anyio==3.3.2
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1636542074879/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.0.3
setuptools==0.7.3
colorama==0.4.4
cryptography @ file:///C:/ci/cryptography_1635348572149/work
Flask==2.0.2
fpdf==1.7.2
greenlet @ file:///C:/ci/greenlet_1628888262822/work
idna @ file:///tmp/build/80754af9/idna_1622654382723/work
itsdangerous==2.0.1
Jinja2==3.0.3
lxml @ file:///C:/ci/lxml_1616443455957/work
mariadb==1.0.8
MarkupSafe==2.0.1
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186184278/work
mkl-service==2.4.0
mysql-connector-python==8.0.27
numexpr @ file:///C:/ci/numexpr_1618856738664/work
numpy==1.21.4
opencv-python==4.5.4.58
pandas @ file:///C:/ci/pandas_1627570330330/work
pandas-datareader @ file:///tmp/build/80754af9/pandas-datareader_1626259591421/work
pandasql==0.7.3
Pillow==8.4.0
protobuf==3.19.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
PyMySQL==1.0.2
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1635333100036/work
PyPDF2==1.26.0
PySocks @ file:///C:/ci/pysocks_1605287845585/work
pytesseract==0.3.8
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2021.3
requests @ file:///tmp/build/80754af9/requests_1629994808627/work
six @ file:///tmp/build/80754af9/six_1623709665295/work
SQLAlchemy @ file:///C:/ci/sqlalchemy_1626948551817/work
urllib3==1.26.7
waitress==2.0.0
Werkzeug==2.0.2
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
